.component-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &.center {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &.full-width {
        width: 100%;
    }

    &.fh {
        height: 100vh;
    }
    &.full-screen {
        height: 100vh;
    }
}

.nav-container {
    position: fixed;
    white-space: nowrap;
    top: torem(50);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-resume-container {
    position: fixed;
    white-space: nowrap;
    top: torem(21);
    right: torem(62);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}