<!-- <ul class="nav nav-underline nav-fill w-full">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Intro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">About me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Collections</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Contact</a>
    </li>
</ul> -->

<nav class="nav-bar w-full">
    <a [class.active]="activeLink === 'intro'" class="nav-link" href="#intro">Intro</a>
    <a [class.active]="activeLink === 'about-me'" class="nav-link" href="#about-me">About me</a>
    <!-- <a class="nav-link" href="#">Collections</a>
    <a class="nav-link" href="#">Projects</a>
    <a class="nav-link" href="#">Contact</a> -->
</nav>
