<main class="hidden md:flex flex-col justify-center items-center gap-[76px] w-100 h-100 bg-dark">
    <nav-bar class="nav hidden md:block"></nav-bar>
    <app-download-resume></app-download-resume>
    <section id="intro" class="component-container full-screen container d-flex flex-column justify-content-center align-items-start gap-5 md:w-[700px] p-[24px]">
        <div class="d-flex flex-column justify-content-center align-items-start gap-2">
            <h1 #helloGradient class="hello fs-64 fw-bold">Hello! I'm Ian Gabriel</h1>
            <h1 class="fs-64 text-gray-600 fw-bold">a frontend dev</h1>
        </div>
        <div class="flex items-center flex-col md:flex-row gap-3 md:gap-2 w-full">
            <ng-container *ngFor="let card of cards">
                <div routerLink="resume"  #cardElement class="card p-3 flex flex-col justify-between items-center md:items-end w-2/3 md:w-full" style="border-radius: 16px; min-height: 180px;">
                    <h5 class="text-light fs-14 hidden md:block">{{ card.title }}</h5>
                    <h5 class="text-light fs-18 md:hidden">{{ card.mobileTitle }}</h5>
                    <div class="bg-dark p-2 d-flex align-items-center justify-content-center" style="border-radius: 50px;">
                        <i class="ph ph-{{card.iconName}} text-light text-[32px] md:text-[16px]"></i>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
    <app-resume></app-resume>
</main>
<main class="md:hidden flex flex-col justify-center items-center gap-2 h-full w-full bg-dark">
    <section class="container flex flex-col justify-center items-center p-[24px] gap-[38px] h-full">
        <div class="bg-gray-700 p-3 d-flex align-items-center justify-content-center w-fit h-fit" style="border-radius: 50px;">
            <i class="ph ph-warning text-light text-[72px]"></i>
        </div>
        <h1 class="fs-32 text-light fw-medium w-full text-center">
            The mobile version of my portfolio is under development. Please visit this page using a desktop or a tablet for a better experience.
        </h1>
    </section>
</main>
