<section class="flex flex-col justify-center items-center gap-3 md:gap-2 md:w-[804px]">
    <div class="flex items-center flex-col md:flex-row gap-3 md:gap-2 w-full h-[324px]">
        <div class="card gallery bg-gray-700 flex flex-col justify-between items-center md:items-end w-2/3 md:h-full rounded-[16px] overflow-hidden">
            <img class="h-full w-full object-cover" src="/assets/images/gallery/photo-1.jpg" alt="photo-1">
        </div>
        <div class="card profile p-3 flex flex-col justify-between items-center md:items-end w-2/3 md:w-full md:h-full rounded-[16px] overflow-hidden">
            <h3 class="text-light text-[48px] text-start w-full font-[500]">Ian Gabriel Agujitas</h3>
            <div class="bg-dark p-2 d-flex align-items-center justify-content-center" style="border-radius: 50px;">
                <i class="ph ph-user text-light text-[32px]"></i>
            </div>
        </div>
    </div>
    <div class="flex items-center flex-col md:flex-row gap-3 md:gap-2 w-full h-[200px]">
        <div class="card p-3 flex flex-col justify-between items-center md:items-end w-2/3 md:w-full md:h-full rounded-[16px] overflow-hidden">
            <h5 class="text-light text-[24px] text-start w-full font-[500]">I am a highly motivated individual with a passion for technologys</h5>
            <div class="bg-dark p-2 d-flex align-items-center justify-content-center" style="border-radius: 50px;">
                <i class="ph ph-info text-light text-[32px]"></i>
            </div>
        </div>
        <div class="card maps p-3 flex flex-col justify-between items-center md:items-end w-2/3 md:w-full md:h-full rounded-[16px] overflow-hidden">
            <h5 class="text-light text-[24px] text-start w-full font-[500]">Malupiha, Malagamot, Panacan, Davao City 8000</h5>
            <div class="bg-dark p-2 d-flex align-items-center justify-content-center" style="border-radius: 50px;">
                <i class="ph ph-map-pin text-light text-[32px]"></i>
            </div>
        </div>
    </div>
    <div class="flex items-center flex-col md:flex-row gap-3 md:gap-2 w-full h-[200px]">
        <div class="card jmc p-3 flex flex-col justify-between items-center md:items-end w-2/3 md:w-full md:h-full rounded-[16px] overflow-hidden">
            <h5 class="text-light text-[24px] text-start w-full font-[500]">Jose Maria College Foundation Inc.</h5>
            <div class="bg-dark p-2 d-flex align-items-center justify-content-center" style="border-radius: 50px;">
                <i class="ph ph-graduation-cap text-light text-[32px]"></i>
            </div>
        </div>
        <div class="card p-3 flex flex-col justify-between items-center md:items-end w-2/3 md:w-full md:h-full rounded-[16px] overflow-hidden">
            <h5 class="text-light text-[24px] text-start w-full font-[500]">Bachelor of Science in Information Technology</h5>
            <div class="bg-dark p-2 d-flex align-items-center justify-content-center" style="border-radius: 50px;">
                <i class="ph ph-student text-light text-[32px]"></i>
            </div>
        </div>
        <div class="card p-3 flex flex-col justify-between items-center md:items-end w-2/3 md:w-full md:h-full rounded-[16px] overflow-hidden">
            <h5 class="text-light text-[24px] text-start w-full font-[500]">Cumlaude</h5>
            <div class="bg-dark p-2 d-flex align-items-center justify-content-center" style="border-radius: 50px;">
                <i class="ph ph-medal text-light text-[32px]"></i>
            </div>
        </div>
    </div>
</section>